@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🇸​​​​​🇹​​​​​🇦​​​​​🇷​​​​​🇹​​​​​ 🇷​​​​​🇪​​​​​🇸​​​​​🇪​​​​​🇹​​​​​*/
:root {
  background: black;
  color: white;
  font-family: 'Cairo', sans-serif;

}

/* dark and light mode */
@media(prefers-color-scheme:dark) {
  :root {}
}

@media(prefers-contrast: high) {
  :root {
    --p-f-color: white;
    --s-f-color: black;
  }
}

@media(prefers-reduced-motions:reduce) {
  * {
    animation: none;
    transition: none;
  }
}

/* paddings and margins */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
}

p a {
  display: inline;
}

ul {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,s
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

::selection {
  background-color: var(--p-bg-color);
  color: var(--s-bg-color);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
  /* appearance: none; */
}

table,
td,
tr {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--s-ff);
  color: var(--p-f-color);
  background-color: var(--p-bg-color);
  /* optional */
  line-height: 1.4em;
  /* optional */
  /* hyphens: auto; */
  font-smooth: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 🇪​​​​​🇳​​​​​🇩​​​​​ 🇷​​​​​🇪​​​​​🇸​​​​​🇪​​​​​🇹​​​​​ */